<div class="modal-content">
    <div class="modal-header modal-header-color">
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{'新增' | translate}}</h4>
    </div>
    <div class="modal-body">
        <div class="body-header">

            <form>
                <div class="row">
                    <div class="col-md-5  btn-mr-5">

                        <button type="button" class="btn  btn-danger btn-xs" one-click="save()"><i
                                class="iconfont icon-baocun-copy"></i>{{'保存' | translate}}
                        </button>
                        <button type="button" class="btn  btn-danger btn-xs" one-click="authSkplace()" ng-show="showAuth"><i
                                class="iconfont icon-baocun-copy"></i>{{'审核' | translate}}
                        </button>
                        <button type="button" class="btn  btn-danger btn-xs" one-click="resetAuthSkplace()" ng-show="showResetAuth"><i
                                class="iconfont icon-baocun-copy"></i>{{'反审核' | translate}}
                        </button>
                    </div>

                </div>
            </form>
        </div>

        <div kendo-tab-strip>
            <ul>
                <li class="k-state-active">{{'基本信息' | translate}}</li>
            </ul>
            <div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for=""><i class="text-danger">*</i>{{'组织' | translate}}</label>
                            <select class="form-control input-sm" ng-model="ORGANISATION_CODE"
                                    ng-options="organisation.ORGANISATION_CODE as organisation.ORGANISATION_NAME_CN for organisation in organisation_list" ng-change="ochange(ORGANISATION_CODE)">
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for=""><i class="text-danger">*</i>{{'调整单号' | translate}}</label>
                            <input type="text" class="form-control input-sm"
                                   ng-model="model.ADJUSTMENT_CD">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for=""><i class="text-danger">*</i>{{'调整日期' | translate}}</label>
                            <input type="text" class="form-control input-sm" kendo-date-time-picker  k-format="'yyyy-MM-dd HH:mm:ss'" ng-model="ADJUSTMENT_AT">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for=""><i class="text-danger">*</i>{{'制单日期' | translate}}</label>
                            <input type="text" class="form-control input-sm" ng-model="CREATED_AT" ng-readonly="true">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for=""><i class="text-danger">*</i>{{'单据状态' | translate}}</label>
                            <input type="text" class="form-control input-sm" ng-model="PLAN_STATE" ng-disabled="true">
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for=""><i class="text-danger">*</i>{{'调整原因' | translate}}</label>
                            <select class="form-control input-sm" ng-selected = "1" ng-model="ADJUSTMENT_REASON" ng-options="reason.value as reason.name for reason in reasonList">
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for=""><i class="text-danger">*</i>{{'调整仓库' | translate}}</label>
                            <select class="form-control input-sm" ng-model="AWAREHOUSE_CODE"
                                    ng-options="warehouse.WAREHOUSE_CODE as warehouse.WAREHOUSE_NAME_CN for warehouse in warehouseList">
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">{{'制单人' | translate}}</label>
                            <input type="text" class="form-control input-sm" ng-model="CUSER_NAME">
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">{{'备注' | translate}}</label>
                            <textarea class="form-control input-sm" ng-model="model.ADJUSTMENT_REMARKS"></textarea>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="page-header orange">
            <h4>
                调整明细
            </h4>
        </div>
        <div class="row">
            <div class="col-md-5  btn-mr-5">
                <button type="button" class="btn btn-success btn-xs" ng-click="addDetail()"><i class="iconfont icon-jia1"></i></button>
                <button type="button" class="btn btn-danger btn-xs" ng-click="delDetail()"><i class="iconfont icon-iconfontshanchu"></i></button>
            </div>

        </div>

        <div ui-grid="gridOptions"   ui-grid-edit ui-grid-pagination ui-grid-selection ui-grid-exporter ui-grid-row-edit ui-grid-resize-columns ui-grid-auto-resize></div>

        <!--内容-->
    </div>
</div>





