<!-- Content Header (Page header) -->

<div class="modal-content">
    <div class="modal-header modal-header-color">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">查询子系统</h4>
    </div>

<!-- Main content -->
    <div class="modal-body">
    <div class="box box-danger">

        <div class="box-body" >
            <div ui-grid="gridOptions" style="height:45vh" ui-grid-pagination ui-grid-selection
                 ui-grid-exporter
                 ui-grid-resize-columns ui-grid-auto-resize></div>
        </div>
        <!-- /.box-body -->
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="confirm()">确定</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
</div>
    </div>
<!-- /.content -->