<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
        {{'首页'|translate}}
        <small></small>
    </h1>
	<ol class="breadcrumb">
		<li>
			<a href="#"><i class="fa fa-dashboard"></i> {{'首页'|translate}}</a>
		</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<todo-list></todo-list>
		</div>
		<div class="col-md-6">
			<!--<textarea class="form-control" ng-model="aa" one-kind-editor id="aa"></textarea>-->
		</div>
	</div>
</section>
<!-- /.content -->