<div class="table-responsive">
    <table class="table tree-grid">
    <thead>
         <tr>
               <th><a ng-if="expandingProperty.sortable" ng-click="sortBy(expandingProperty)">{{expandingProperty.displayName || expandingProperty.field || expandingProperty}}</a><span ng-if="!expandingProperty.sortable">{{expandingProperty.displayName || expandingProperty.field || expandingProperty}}</span><i ng-if="expandingProperty.sorted" class="{{expandingProperty.sortingIcon}} pull-right"></i></th>
               <th ng-repeat="item in colDefinitions">
                   <div class="checkbox1">
                       <label>
                           <input type="checkbox" ng-change="selectAll()" ng-model="treeControl.isSelected">{{item.displayName||item.field}}
                       </label>
                   </div>
               </th>
         </tr>
       </thead>
       <tbody>
         <tr ng-repeat="row in tree_rows | searchFor:$parent.filterString:expandingProperty:colDefinitions track by row.branch.uid"
            class="'level-{{ row.level }} {{row.branch.selected ? 'active':''}}  tree-grid-row">
           <td><a ng-click="user_clicks_branch(row.branch)"><i ng-class="row.tree_icon"
                      ng-click="row.branch.expanded = !row.branch.expanded"
                      class="indented tree-icon"></i></a>
               <span ng-if="expandingProperty.cellTemplate" class="indented tree-label"
                      ng-click="on_user_click(row.branch)" compile="expandingProperty.cellTemplate">

               </span>
               <span  ng-if="!expandingProperty.cellTemplate" class="indented tree-label" ng-click="on_user_click(row.branch)">
                     {{row.branch[expandingProperty.field] || row.branch[expandingProperty]}}
                </span>
               </td>
           <td ng-repeat="col in colDefinitions">
             <div ng-if="col.cellTemplate" compile="col.cellTemplate" cell-template-scope="col.cellTemplateScope"></div>
             <div ng-if="!col.cellTemplate">{{row.branch[col.field]}}</div>
           </td>
         </tr>
       </tbody>
     </table>
    </div>