<div class="modal-content">
    <div class="modal-header modal-header-color">
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">修改登录密码</h4>
    </div>
    <div class="modal-body">
        <!--内容-->
        <div class="body-header">

            <form class="form-inline">
                <div class="row">
                    <div class="col-md-5  btn-mr-5">
                        <button type="button" class="btn  btn-danger btn-xs" ng-click = "save()"><i class="iconfont icon-baocun-copy"></i>保存
                        </button>

                    </div>

                </div>
            </form>
        </div>


        <form role="form" name="myForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for=""><i class="text-danger">*</i>原密码</label>
                        <input type="password" class="form-control input-sm" ng-model="oldPassword" name="oldPassword" required>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for=""><i class="text-danger">*</i>新密码</label>
                        <input type="password" class="form-control input-sm" ng-model="newPassword" name="newPassword" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for=""><i class="text-danger">*</i>确认密码</label>
                        <input type="password" class="form-control input-sm" ng-model="confirmPassword" name="confirmPassword" required>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<style>
    .checkbox label {
        font-weight: bold;
    }

</style>