<div><!-- Logo -->
    <a  class="logo" href="#/index">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">one</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">1byone</span>
    </a>
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
               <!-- <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-success">4</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 4 messages</li>
                        <li>
                            &lt;!&ndash; inner menu: contains the actual data &ndash;&gt;
                            <ul class="menu">
                                <li>&lt;!&ndash; start message &ndash;&gt;
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                        </div>
                                        <h4>
                                            Support Team
                                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                        </h4>
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                                &lt;!&ndash; end message &ndash;&gt;
                                <li>
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                        </div>
                                        <h4>
                                            AdminLTE Design Team
                                            <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                        </h4>
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                        </div>
                                        <h4>
                                            Developers
                                            <small><i class="fa fa-clock-o"></i> Today</small>
                                        </h4>
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                        </div>
                                        <h4>
                                            Sales Department
                                            <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                        </h4>
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                        </div>
                                        <h4>
                                            Reviewers
                                            <small><i class="fa fa-clock-o"></i> 2 days</small>
                                        </h4>
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#">See All Messages</a></li>
                    </ul>
                </li>
                &lt;!&ndash; Notifications: style can be found in dropdown.less &ndash;&gt;
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">10</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 10 notifications</li>
                        <li>
                            &lt;!&ndash; inner menu: contains the actual data &ndash;&gt;
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                        page and may cause design problems
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-users text-red"></i> 5 new members joined
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-user text-red"></i> You changed your username
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#">View all</a></li>
                    </ul>
                </li>
                &lt;!&ndash; Tasks: style can be found in dropdown.less &ndash;&gt;
                <li class="dropdown tasks-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag-o"></i>
                        <span class="label label-danger">9</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 9 tasks</li>
                        <li>
                            &lt;!&ndash; inner menu: contains the actual data &ndash;&gt;
                            <ul class="menu">
                                <li>&lt;!&ndash; Task item &ndash;&gt;
                                    <a href="#">
                                        <h3>
                                            Design some buttons
                                            <small class="pull-right">20%</small>
                                        </h3>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                <span class="sr-only">20% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                &lt;!&ndash; end task item &ndash;&gt;
                                <li>&lt;!&ndash; Task item &ndash;&gt;
                                    <a href="#">
                                        <h3>
                                            Create a nice theme
                                            <small class="pull-right">40%</small>
                                        </h3>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                <span class="sr-only">40% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                &lt;!&ndash; end task item &ndash;&gt;
                                <li>&lt;!&ndash; Task item &ndash;&gt;
                                    <a href="#">
                                        <h3>
                                            Some task I need to do
                                            <small class="pull-right">60%</small>
                                        </h3>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                <span class="sr-only">60% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                &lt;!&ndash; end task item &ndash;&gt;
                                <li>&lt;!&ndash; Task item &ndash;&gt;
                                    <a href="#">
                                        <h3>
                                            Make beautiful transitions
                                            <small class="pull-right">80%</small>
                                        </h3>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                <span class="sr-only">80% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                &lt;!&ndash; end task item &ndash;&gt;
                            </ul>
                        </li>
                        <li class="footer">
                            <a href="#">View all tasks</a>
                        </li>
                    </ul>
                </li>-->
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="images/user.png" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{userInfo.u_staffinfo2.STAFF_NAME_CN}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header" style="height: 150px;">
                            <img src="images/user.png" class="img-circle" alt="User Image">
                            <p>
                                {{userInfo.u_staffinfo2.STAFF_NAME_CN}}
                            </p>
                        </li>
                        <!--<li class="user-body">
                            <div class="row">
                                <div class="col-xs-6 text-center">
                                    <a href="#">我的产品</a>
                                </div>
                                <div class="col-xs-6 text-center">
                                    <a href="#">我的供应商</a>
                                </div>
                            </div>
                        </li>-->
                        <li class="user-footer">
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <a href="#" class="btn btn-default btn-flat" ng-click="logout()" style="margin: 0 12px;">退出</a>
                                    <a href="#" class="btn btn-default btn-flat" ng-click="change_password()" style="margin: 0 12px;">修改密码</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li class="dropdown tasks-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gears"></i></a>
                    <ul class="dropdown-menu menu-top" style="width:100px;background-color: #eae1d8">
                        <li><a href="#" ><span>切换皮肤</span>  <i class="fa fa-angle-left pull-right"></i></a></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#"><span>切换语言</span><i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="dropdown-menu menu-second" >
                                <li ng-repeat="value in langugeList"><a tabindex="-1" href="#" ng-click="switching(value.id)" class={{value.id==lang?'active':''}}>{{value.name}}</a>
                                </li>
                                <!--<li class="dropdown-submenu">
                                    <a href="#" >More..</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Level 3</a>
                                            </li>
                                            <li><a href="#">Level 3</a>
                                            </li>
                                            &lt;!&ndash;<li class="dropdown-submenu"> <a href="#">More..</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Level 4</a>
                                                    </li>
                                                    <li><a href="#">Level 4</a>
                                                    </li>
                                                    <li class="dropdown-submenu"> <a href="#">More..</a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#">Level 5</a>
                                                            </li>
                                                            <li><a href="#">Level 5</a>
                                                            </li>
                                                        </ul>
                                                    </li>

                                                </ul>
                                            </li>&ndash;&gt;

                                        </ul>
                                </li>-->
                                <!--<li><a href="#" ng-click="">Level 2</a>
                                </li>-->
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </nav>
    <!-- Header Navbar -->
<!--    <nav class="navbar navbar-static-top" role="navigation">
        &lt;!&ndash; Sidebar toggle button&ndash;&gt;
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        &lt;!&ndash; Navbar Right Menu &ndash;&gt;
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                &lt;!&ndash; Messages: style can be found in dropdown.less&ndash;&gt;
                <li class="dropdown messages-menu">
                    &lt;!&ndash; Menu toggle button &ndash;&gt;
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-success">4</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 4 messages</li>
                        <li>
                            &lt;!&ndash; inner menu: contains the messages &ndash;&gt;
                            <ul class="menu">
                                <li>
                                    &lt;!&ndash; start message &ndash;&gt;
                                    <a href="#">
                                        <div class="pull-left">
                                            &lt;!&ndash; User Image &ndash;&gt;
                                            <img src="images/luo.png" class="img-circle" alt="User Image">
                                        </div>
                                        &lt;!&ndash; Message title and timestamp &ndash;&gt;
                                        <h4>
                                            Support Team
                                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                        </h4>
                                        &lt;!&ndash; The message &ndash;&gt;
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                                &lt;!&ndash; end message &ndash;&gt;
                            </ul>
                            &lt;!&ndash; /.menu &ndash;&gt;
                        </li>
                        <li class="footer"><a href="#">See All Messages</a></li>
                    </ul>
                </li>
                &lt;!&ndash; /.messages-menu &ndash;&gt;

                &lt;!&ndash; Notifications Menu &ndash;&gt;
                <li class="dropdown notifications-menu">
                    &lt;!&ndash; Menu toggle button &ndash;&gt;
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">10</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 10 notifications</li>
                        <li>
                            &lt;!&ndash; Inner Menu: contains the notifications &ndash;&gt;
                            <ul class="menu">
                                <li>
                                    &lt;!&ndash; start notification &ndash;&gt;
                                    <a href="#">
                                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                    </a>
                                </li>
                                &lt;!&ndash; end notification &ndash;&gt;
                            </ul>
                        </li>
                        <li class="footer"><a href="#">View all</a></li>
                    </ul>
                </li>
                &lt;!&ndash; Tasks Menu &ndash;&gt;
                <li class="dropdown tasks-menu">
                    &lt;!&ndash; Menu Toggle Button &ndash;&gt;
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag-o"></i>
                        <span class="label label-danger">9</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 9 tasks</li>
                        <li>
                            &lt;!&ndash; Inner menu: contains the tasks &ndash;&gt;
                            <ul class="menu">
                                <li>
                                    &lt;!&ndash; Task item &ndash;&gt;
                                    <a href="#">
                                        &lt;!&ndash; Task title and progress text &ndash;&gt;
                                        <h3>
                                            Design some buttons
                                            <small class="pull-right">20%</small>
                                        </h3>
                                        &lt;!&ndash; The progress bar &ndash;&gt;
                                        <div class="progress xs">
                                            &lt;!&ndash; Change the css width attribute to simulate progress &ndash;&gt;
                                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                <span class="sr-only">20% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                &lt;!&ndash; end task item &ndash;&gt;
                            </ul>
                        </li>
                        <li class="footer">
                            <a href="#">View all tasks</a>
                        </li>
                    </ul>
                </li>
                &lt;!&ndash; User Account Menu &ndash;&gt;
                <li class="dropdown user user-menu">
                    &lt;!&ndash; Menu Toggle Button &ndash;&gt;
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        &lt;!&ndash; The user image in the navbar&ndash;&gt;
                        <img src="images/luo.png" class="user-image" alt="User Image">
                        &lt;!&ndash; hidden-xs hides the username on small devices so only the image appears. &ndash;&gt;
                        <span class="hidden-xs">{{userInfo.u_staffinfo2.STAFF_NAME_CN}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        &lt;!&ndash; The user image in the menu &ndash;&gt;
                        <li class="user-header">
                            <img src="images/luo.png" class="img-circle" alt="User Image">

                            <p>
                                {{userInfo.u_staffinfo2.STAFF_NAME_CN}}
                            </p>
                        </li>
                        &lt;!&ndash; Menu Body &ndash;&gt;
                        <li class="user-body">
                            <div class="row">
                                <div class="col-xs-6 text-center">
                                    <a href="#">我的产品</a>
                                </div>
                                <div class="col-xs-6 text-center">
                                    <a href="#">我的供应商</a>
                                </div>
                            </div>
                            &lt;!&ndash; /.row &ndash;&gt;
                        </li>
                        &lt;!&ndash; Menu Footer&ndash;&gt;
                        <li class="user-footer">
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <a href="#" class="btn btn-default btn-flat" ng-click="logout()">退出</a>
                                    <a href="#" class="btn btn-default btn-flat" ng-click="change_password()">修改密码</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                &lt;!&ndash; Control Sidebar Toggle Button &ndash;&gt;
                &lt;!&ndash;<li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>&ndash;&gt;
            </ul>
        </div>
    </nav>-->
</div>