<div header class="main-header"></div>
<div main-sidebar class="main-sidebar"></div>
<div class="content-wrapper" style="min-height: 100%;">
    <ui-view ></ui-view>
</div>

<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        1Byone
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 <a href="#">1Byone</a>.</strong> All rights reserved.

</footer>
<!-- Control Sidebar -->

<!-- /.control-sidebar -->

<div class="control-sidebar-bg"></div>

