<div class="modal-content" style="width: 100%;">
    <div class="modal-header modal-header-color">
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{'新增'|translate}}</h4>
    </div>
    <div class="modal-body">
        <!--内容-->
        <div class="body-header">
            <form class="form-inline">
                <div class="row">
                    <div class="col-md-5  btn-mr-5">
                        <button type="button" class="btn btn-success btn-xs" ng-click="cancel()"><i class="iconfont icon-jia1"></i>{{'取消'|translate}}</button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="confirm()"><i class="iconfont icon-iconfontshanchu"></i>{{'确定'|translate}}</button>
                    </div>
                </div>
            </form>
        </div>
        <form role="form" name = "myForm"  novalidate>
            <div class="row">
                <div ui-grid="gridOptions"  style="height:75vh" ui-grid-edit ui-grid-pagination  ui-grid-selection ui-grid-exporter ui-grid-row-edit
                     ui-grid-resize-columns ui-grid-auto-resize></div>
            </div>
        </form>
    </div>
</div>
<style>
    .checkbox-header-bold label {
        font-weight: bold;
    }

</style>
