<div class="modal-content">
    <div class="modal-header modal-header-color">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{'新增' | translate}}</h4>
    </div>
    <div class="modal-body">
        <div class="body-header">
            <form>
                <div class="row">
                    <div class="col-md-5  btn-mr-5">
                        <button type="button" class="btn  btn-danger btn-xs" one-click="save()">
                            <i class="iconfont icon-baocun-copy"></i>{{'保存' | translate}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div kendo-tab-strip>
            <ul>
                <li class="k-state-active">{{'基本信息' | translate}}</li>
            </ul>
            <div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for=""><i class="text-danger">*</i>{{'初始化单编号' | translate}}</label>
                            <input type="text" class="form-control input-sm" ng-model="FIALLOCATION_CD" ng-disabled="true">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">{{'单据状态' | translate}}</label>
                            <input type="text" class="form-control input-sm" ng-model="currentState" ng-disabled="true">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for=""><i class="text-danger">*</i>{{'制单日期' | translate}}</label>
                            <input type="text" class="form-control input-sm" ng-model="initDate" ng-readonly="true">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">{{'制单人' | translate}}</label>
                            <input type="text" class="form-control input-sm" ng-model="initUserName" ng-disabled="true">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for=""><i class="text-danger">*</i>{{'组织' | translate}}</label>
                            <div organisations-dirt1 select-model="ORGANISATION_CODE" options="orgoptions"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for=""><i class="text-danger">*</i>{{'平台' | translate}}</label>
                            <select class="form-control input-sm" ng-model="model.CHANNEL" ng-options="warehouse as warehouse.CHANNEL_NAME_CN for warehouse in model.channelList">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for=""><i class="text-danger">*</i>{{'仓库'|translate}}</label>
                            <select class="form-control input-sm" ng-model="model.ATWAREHOUSE" ng-options="warehouse as warehouse.WAREHOUSE_NAME_CN for warehouse in model.warehouseList">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for=""><i class="text-danger">*</i>{{'审核人' | translate}}</label>
                            <input type="text" class="form-control input-sm" ng-disabled="true">
                        </div>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">{{'备注' | translate}}</label>
                            <textarea class="form-control input-sm" ng-model="ALLOCATION_REMARKS"></textarea>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="page-header orange">
            <h4>
                {{'初始化明细'|translate}}
            </h4>
        </div>

        <div class="row">
            <div class="col-md-5  btn-mr-5">
                <button type="button" class="btn btn-success btn-xs" ng-click="addDetail()" ng-disabled="addBtnDisabled"><i class="iconfont icon-jia1"></i></button>
                <button type="button" class="btn btn-danger btn-xs" ng-click="delDetail()"><i class="iconfont icon-iconfontshanchu"></i></button>
            </div>
        </div>
        <div class="box-body" auto-height="gridOptions" auto-flag="gridOptions" auto-hide="gridOptions">
            <div ui-grid="gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize></div>
        </div>
        <!--内容-->
    </div>
</div>